In [7]:
import pandas as pd 
import numpy as np
from key import key_api

# Daily Adjusted Time Series - Alpha Vantage

In [18]:
import requests
from alpha_vantage.timeseries import TimeSeries

In [17]:
#url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey={key_api}'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=^BVSP.SAO&apikey={key_api}'
r = requests.get(url)
data = r.json()

print(data)

{}

In [21]:
ALPHAVANTAGE_API_KEY = key_api

In [22]:
ts = TimeSeries(key=key_api, output_format='pandas')

In [39]:
ts.get_symbol_search('bovespa')

(           1. symbol                          2. name 3. type  \
 date
 1970-01-01  INDX.SAO  BOVESPA INDUSTRIAL SECTOR INDEX  Equity

                    4. region 5. marketOpen 6. marketClose 7. timezone  \
 date
 1970-01-01  Brazil/Sao Paolo         10:00          17:30      UTC-03

            8. currency 9. matchScore
 date
 1970-01-01         BRL        0.3684  ,
 None)

In [40]:
dados, metadados = ts.get_daily(symbol='INDX.SAO', outputsize='full')

In [41]:
dados

               1. open     2. high      3. low    4. close  5. volume
date
2023-12-28  22672.0996  22777.9102  22616.9492  22699.6504        0.0
2023-12-27  22565.8594  22686.7402  22512.0996  22671.7793        0.0
2023-12-26  22517.5293  22639.2305  22505.6504  22565.7891        0.0
2023-12-22  22517.0508  22517.0508  22517.0508  22517.0508        0.0
2023-12-21  22297.8398  22482.4199  22297.8398  22441.7598        0.0
...                ...         ...         ...         ...        ...
2006-07-07   5978.0200   6023.6400   5889.0500   5937.9900        0.0
2006-07-06   5954.1600   6042.6500   5954.1600   5977.6900        0.0
2006-07-05   6083.1900   6083.1900   5920.3800   5954.5900        0.0
2006-07-04   6064.0200   6108.3600   6040.5800   6083.4000        0.0
2006-07-03   5942.6100   6076.1300   5918.2700   6064.0200        0.0

[4330 rows x 5 columns]

# IBOVESPA - Yahoo Query

https://medium.com/@rodrigobercinimartins/como-extrair-dados-da-bovespa-sem-gastar-nada-com-python-14a03454a720

In [30]:
from yahooquery import Ticker

In [34]:
abev = Ticker("ABEV3.SA")
abev.history(period="max")

                          open       high        low      close      volume  \
symbol   date
ABEV3.SA 2000-01-05   0.520882   0.520882   0.520882   0.520882       985.0
         2000-01-06   0.494478   0.494478   0.494478   0.494478       227.0
         2000-01-07   0.494478   0.494478   0.494478   0.494478       151.0
         2000-01-10   0.494478   0.494478   0.494478   0.494478      1516.0
         2000-01-11   0.494478   0.494478   0.494478   0.494478      3791.0
...                        ...        ...        ...        ...         ...
         2023-12-21  13.820000  13.820000  13.590000  13.700000  28969600.0
         2023-12-22  13.690000  13.830000  13.660000  13.710000  19864700.0
         2023-12-26  13.720000  13.810000  13.690000  13.770000   6884800.0
         2023-12-27  13.780000  13.840000  13.720000  13.840000  10305900.0
         2023-12-28  13.800000  13.850000  13.730000  13.730000  16500300.0

                      adjclose  dividends  splits
symbol   date
ABEV3.SA 2000-01-05   0.290351        0.0     0.0
         2000-01-06   0.275633        0.0     0.0
         2000-01-07   0.275633        0.0     0.0
         2000-01-10   0.275633        0.0     0.0
         2000-01-11   0.275633        0.0     0.0
...                        ...        ...     ...
         2023-12-21  13.700000        0.0     0.0
         2023-12-22  13.710000        0.0     0.0
         2023-12-26  13.770000        0.0     0.0
         2023-12-27  13.840000        0.0     0.0
         2023-12-28  13.730000        0.0     0.0

[6024 rows x 8 columns]